:root {
  /** s Tamaños de fuente */
  --step-5: clamp(0.91rem, calc(0.89rem + 0.1vw), 0.96rem);
  --step-4: clamp(1.09rem, calc(1.05rem + 0.21vw), 1.2rem);
  --step-3: clamp(1.31rem, calc(1.24rem + 0.37vw), 1.5rem);
  --step-2: clamp(1.58rem, calc(1.46rem + 0.59vw), 1.88rem);
  --step-1: clamp(1.89rem, calc(1.71rem + 0.89vw), 2.34rem);
  --step-0: clamp(2.27rem, calc(2.01rem + 1.29vw), 2.93rem);
  --step1: clamp(2.72rem, calc(2.36rem + 1.83vw), 3.66rem);
  --step2: clamp(3.27rem, calc(2.75rem + 2.56vw), 4.58rem);

  /** Colores */
  --color-negro: #121212;
  --color-blanco: #ffff;
  --color-gris: #1f1f1fc2;
  --color-purpura: #a905f5;
  --color-rosa: #bd0648;
  --color-azul-oscuro: #280464;
  --color-rosa-claro: #980891;
  --pupura-saturado: rgb(166 95 242);

  /** Fuentes */
  --font-1: "Prompt", sans-serif;
  --font-2: "Quicksand", sans-serif;

  /** Padding h2 */
  --padding: 2rem;

  /** Transiciones */
  --transition-1: 1s ease-out;
  --transition-2: transform 1s;

  /** translate X */
  --move-1: 0;
  --move-2: 0;
}
